{% extends 'adminapp/base.html' %}
{% load static %}

{% block content %}
    <div class="mt-4 row justify-content-center">
        <div class="h2 col-auto text-center">
            Уверены, что хотите удалить {{ user_to_delete.username }}
            {% if user_to_delete.first_name %}
                <b>({{ user_to_delete.first_name|title }}</b>
                    {% if user_to_delete.last_name %}
                        <b>{{ user_to_delete.last_name|title }}</b>
                    {% endif %})
            {% endif %}?
        </div>
        <div class="row justify-content-center mt-4">
            <form action="{% url 'admin:user_delete' user_to_delete.pk %}"
                  method="post"
                  class="col-auto">
                {% csrf_token %}
                <input class="btn btn-danger"
                       type="submit"
                       value="удалить">
            </form>
            <button class="btn btn-success col-auto">
                <a href="{% url 'admin:users' %}"
                   style="text-decoration: none; color:white">
                    отмена
                </a>
            </button>
        </div>
    </div>
{% endblock %}